<!DOCTYPE html>
<html lang="">
<head>
    <title>Puzzle 1</title>
</head>

<body>
<div>
    <h1>Puzzle 1</h1>
    <p>For this puzzlehunt, you'll navigate between puzzles using your browser.</p>
	<p>Try visiting the next puzzle.</p>
</div>
</body>

</html>
