<!DOCTYPE html>
<html lang="">
<head>
    <title>Puzzle 2</title>
</head>

<body>
<div>
    <h1>Puzzle 2</h1>
    <p>Amazing job.</p>
    <p>For each puzzle, the previous puzzle's solution doubles as the current puzzle's title. So this time, it's just called "Puzzle 2".</p>
    <p>Titles won't always be numbers though. For example, the next answer you'll search for is a word.</p>
    <p>Each puzzle also has hints associated with close answers (to encourage educated guesswork). To see what a hint looks like, try guessing "spaghetti" in your URL bar.</p>
    <p>Rules/format limitations for the puzzles:</p>
    <ul>
    	<li>There are no unreasonably tech-savvy puzzles.</li>
    	<li>All of the puzzles are self-contained.</li>
    	<li>Solutions to puzzles may be numbers, short sentences without spaces, or whole words (usually whole words).</li>
    	<li>Titles can contain critical clues about how to approach a puzzle. But title contents will never be included in the solution itself.</li>
    	<li>Everything on a puzzle page is fair game.</li>
    </ul>
</div>
</body>

</html>
