<!DOCTYPE html>
<html lang="">
<head>
    <title>Puzzle 2</title>
</head>

<body>
<div>
    <h1>Puzzle 2</h1>
    <p>Nice job.</p>
    <p>Puzzle solutions double as the title for subsequent puzzles.</p>
    <p>Some ground rules for the hunt:</p>
    <ul>
    	<li>There are no unreasonably tech-savvy puzzles.</li>
    	<li>All of the puzzles are self-contained.</li>
    	<li>Solutions to puzzles may be numbers or whole words (usually whole words).</li>
    	<li>Titles may provide clues.</li>
    	<li>Everything on a puzzle page is fair game.</li>
    </ul>
    <p>Try visiting the next puzzle, when you're ready.</p>
</div>
</body>

</html>
