<!DOCTYPE html>
<html lang="">
<head>
    <title>After Taste</title>
</head>

<body>
<div>
    <h1>Puzzle 3: After Taste</h1>
    <h3>Excerpts from the American Association of Food Chemistry:</h3>

    <p>To evaluate the role of phenolic compounds in the sampling of fine wines,<br>
        the following experiment was performed.</p>

    <p>— wine connoisseurs were screened and invited to Taste a variety of expensive wines<br>
        in a grape laboratory in Napa Valley. The subjects were presented five identical glasses<br>
        of rosé and a sheet of ten anthropomorphic descriptors (e.g. “sophisticated”, “clever”, —</p>

    <p>— the experiment proctor asked subjects to circle descriptors for the wines based<br>
        purely on their Taste. “Clever” was circled more than —</p>

    <p>— twenty-two additional subjects were selected for the next round of this experiment.<br>
        Subjects passed the same wine Tasting screen (to verify their perceived knowledge on<br>
        the subject) prior to —</p>

    <p>— this time, all subjects were informed that the rosés they would be Tasting in the lab were<br>
        identical —</p>

    <p>— despite this, experiment data suggests that when Tasting your wine —</p>

    <p>— subject integrity questionable — lining their wine-Tasting pockets with —</p>
</div>
</body>

</html>
