<!DOCTYPE html>
<html lang="">
<head>
    <title>Gifts</title>
</head>

<body>
<div>
    <h1>Puzzle 5: Gifts</h1>
    <h3>Things to buy for Christmas:</h3>
    <ul>
    	<li>3 _________, pomoideae-perched</li>
    	<li>4 _________, Chelonian-categorized</li>
    	<li>1 _________, Bordeaux-borne</li>
    	<li>2 _________, openly-vocal</li>
    	<li>1 _________, digit-decorating</li>
    	<li>2 _________, omelette-enabling</li>
    	<li>4 _________, dairy-disposed</li>
    </ul>
</div>
</body>

</html>
