<!DOCTYPE html>
<html lang="">
<head>
    <title>Riddle me this...</title>
</head>

<body>
<div>
	<p>{{.fullpath}}</p>
    <h1>Christmas Puzzlehunt 2020</h1>
    <p>Merry Christmas! Welcome to the puzzle website.</p>
    <a href="/puzzle/1">Begin the hunt...</a>

    <br><br><br><br><br>
    <h2>Puzzles Discovered</h2>
    <ol>
    	<!-- <li><a href="/puzzle/1">Puzzle 1</a></li> -->
    	<li>I haven't added this feature yet --Warren</li>
    	<li>...</li>
    	<li>...</li>
    	<li>...</li>
    </ol>
</div>
</body>

</html>
