<!DOCTYPE html>
<html lang="">
<head>
    <title>Phone</title>
</head>

<body>
<div>
    <h1>Puzzle 4: Phone</h1>
    <i>Better not phone this one in.</i>
    <ol>
        <li>123479*0#</li>
        <li>12358*0#</li>
        <li>1234789*</li>
        <li>123580</li>
        <li>23580*</li>
    </ol>
</div>
</body>

</html>
