<!DOCTYPE html>
<html lang="">
<head>
    <title>Phone</title>
</head>

<body>
<div>
    <h1>Puzzle 4: Phone</h1>
    <i>Better not phone this one in.</i>
    <ol>
        <li>3*47#1290</li>
        <li>5#283*10</li>
        <li>1234*789</li>
        <li>801352</li>
        <li>*23805</li>
    </ol>
</div>
</body>

</html>
