<!DOCTYPE html>
<html lang="">
<head>
    <title>Rehired</title>
</head>

<body>
<div>
    <h1>Puzzle 6: Rehired</h1>
    <i>For more convenient solving, <a href="https://docs.google.com/spreadsheets/d/1r8AgOC0RS3ICDVbc4aw0vDbPU1doOpMSX_FgmG7lI9A/copy">make a copy of this puzzle on Google Sheets</a> and type your answer there.</i>
    <br><br>
    <img src="https://christmas-puzzle-2020.herokuapp.com/assets/rehired/rehired_crossword.png">
</div>
</body>

</html>
