<!DOCTYPE html>
<html lang="">
<head>
    <title>Rehired</title>
</head>

<body>
<div>
    <h1>Puzzle 6: Rehired</h1>
    <i>Transwordgrify!</i>
    <p>=> retired (0A 1C 0R)</p>
    <p>=> fired (0A 1C 2R)</p>
    <p>=> spire (1A 1C 1R)</p>
    <p>=> s... (0A 2C 0R)</p>
    <p>=> g... (0A 2C 0R)</p>
    <p>=> r... (0A 0C 1R)</p>
    <p>=> ... (0A 1C 0R)</p>
    <p>=> pr... (2A 0C 0R)</p>
    <p>=> ??? (1A 1C 0R)</p>
</div>
</body>

</html>
