<!DOCTYPE html>
<html lang="">
<head>
    <title>Spliced</title>
</head>

<body>
<div>
    <h1>Puzzle 7: <img src="https://christmas-puzzle-2020.herokuapp.com/assets/spliced/title.jpg" width=200></h1>
    <i>Put together the pieces.</i>
    <br><br>
    <img src="https://christmas-puzzle-2020.herokuapp.com/assets/spliced/1.jpg" width=200>
    <img src="https://christmas-puzzle-2020.herokuapp.com/assets/spliced/2.jpg" width=200>
    <img src="https://christmas-puzzle-2020.herokuapp.com/assets/spliced/3.jpg" width=200>
    <img src="https://christmas-puzzle-2020.herokuapp.com/assets/spliced/4.jpg" width=200>
    <img src="https://christmas-puzzle-2020.herokuapp.com/assets/spliced/5.jpg" width=200>
    <img src="https://christmas-puzzle-2020.herokuapp.com/assets/spliced/6.jpg" width=200>
</div>
</body>

</html>
