<!DOCTYPE html>
<html lang="">
<head>
    <title>Square</title>
</head>

<body>
<div>
    <h1>Puzzle 7: Square</h1>
    <i>Read these inspirational quotes across time and space.</i>
    <p>… an ice-cold tub from just being warm in bed is — it just unlocks this thing in my mind and I feel like if I can will myself to do that thing that seems so small but hurts so much, I can do nearly anything.</p>

    <p>The Cube is an imitation of life itself - or even an improvement on life.</p>

    <p>It's not too hard to figure out; You see it every day</p>

    <p>Ah, good taste! What a dreadful thing! Taste is the enemy of creativeness.</p>

    <p>…temporal, and parallel dimensions. It's…</p>

    <p>We have abandoned the simple and instinctive mode of life of the earlier civilizations for one regulated by the assumptions of our knowledge and supplemented by all the devices of intelligence.</p>
</div>
</body>

</html>
