<!DOCTYPE html>
<html lang="">
<head>
    <title>Taste</title>
</head>

<body>
<div>
    <h1>Puzzle 3: Taste</h1>
    <i>Sometimes, what you need is right on front of you.</i>
    <h3>Excerpts from the American Aassociation of Food Chemistry:</h3>

    <p>To evaluate the role of phenolic compounds in the sampling of fine wines,<br>
        the following experiment was performed.</p>

    <p>Twenty-fwo wine connoisseurs were screened and invited to a grape laboratory in Napa<br>
        Valley, CA. These individuals (henceforth referred to as test subjects) were presented<br>
        with five identical glasses of rosé and a notepad imprinted with ten anthropomorphic<br>
        descriptors: “sophisticated”, “bold”, “clever”, "savvy", —</p>

    <p>— the experiment proctor asked subjects to circle descriptors for the wines based<br>
        purely on taste. “Clever” was circled 12/22 times, “bold” 5/22 times, —</p>

    <p>— Twenty-two additional subjects were selected for round 2 of this experiment. Subjects<br>
        were administered the same wine tasting screen (to verify their perceived knowledge on<br>
        wine) prior to —</p>

    <p>— This time, all subjects were informed that the rosés they would be tasting in the lab were<br>
        identtical —</p>

    <p>— despite this, experiment data suggests that when tasting your wine —</p>

    <p>— subsequent studies likely neeeded —</p>

    <p>— larger sample size — serving size, too —</p>

    <p>— results rreflect — </p>

    <p>— subject integrity questionable — </p>

    <p>— accused — lining their wine-tasting pockets with —</p>

    <p>— is when I spill it!</p>
</div>
</body>

</html>
