<!DOCTYPE html>
<html lang="">
<head>
    <title>404</title>
</head>

<body>
<div>
    <h1>404</h1>
    <p>"{{.wronganswer}}" isn't a solution that will get you to the next puzzle.</p>
    <p><i>{{.hint}}</i></p>
    <a href="javascript:history.back()">Go back</a>
</div>
</body>

</html>
